@tailwind base;
@tailwind components;
@tailwind utilities;


.padding{
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 1280px) {
    .padding{
        padding-left: 30px;
        padding-right: 30px;
    }
  }
@media screen and (max-width: 1024px) {
    .padding{
        padding-left: 20px;
        padding-right: 20px;
    }
  }
@media screen and (max-width: 640px) {
    .padding{
        padding-left: 10px;
        padding-right: 10px;
    }
}
